* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/background-image.jpg');
  background-size: cover; /* Resize the background image to cover the entire container*/
  background-repeat: no-repeat;
  background-color: azure; /*Used if the image is unavaible*/
}

.main {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.odin-logo {
  margin-left: 50px;
  width: 700px;
  justify-content: center;
  margin-top: 90px;
  background-size: cover;
  /* opacity: 0.5; */
  text-align: center;
}

.odin-logo img {
  height: 200px;
  width: 150px;
  max-width: 100%;
  height: auto;
}
.odin-logo h1 {
  color: white;
  font-size: 50px;
}
.signup-form {
  background-color: #ffffff;
  width: 700px;
}

.signup-form-header {
  background-color: #f9fafb;
  height: 300px;
  padding-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding-left: 20px;
}

h2 {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.signup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding-left: 20px; */
  width: 100%;
}

.form-row {
  margin-left: 40px;
  margin-top: 20px;
}

.form-row input {
  padding: 10px;
  font-size: 14px;
}

.form-row input:focus {
  border: 1px solid #9fb1e6;
}
.form-row input:invalid {
  border: 1px solid #e4a7a7;
}

.signup-footer {
  margin-top: 20px;
  width: 700px;
  background-color: #f9fafb;
  border-top: 1px solid #dad;
  height: 115px;
}

.signup-footer button {
  margin-left: 40px;
  margin-top: 20px;
  background-color: #596d48;
  padding: 5px 20px;
  border-radius: 3px;
  border: 0px;
  color: aliceblue;
  font-size: 16px;
}
.signup-footer p {
  margin-top: 20px;
  margin-left: 40px;
}
.signup-footer a {
  color: #596d48;
  text-decoration: none;
}

.error {
  color: red;
}

/* Desktop only stlying */
/* @media only screen and (min-width: 700px) {
} */

.merriweather-regular {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}
