* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/background-image.jpg');
  background-color: azure; /*Used if the image is unavaible*/
  background-size: cover; /* Resize the background image to cover the entire container*/
}
.main {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.odin-logo {
  background-image: url('images/odin-lined.png');
  height: 500px;
  width: 520px;
  justify-content: center;
  margin-top: 200px;
  background-size: cover;
}

.signup-form {
  background-color: azure;
  height: 750px;
  width: 1000px;
  /* margin-left: 100px; */
}
