* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/background-image.jpg');
  background-color: azure; /*Used if the image is unavaible*/
  background-size: cover; /* Resize the background image to cover the entire container*/
}
.main {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.odin-logo {
  /* background-image: url('images/odin-lined.png'); */
  height: 200px;
  width: 520px;
  justify-content: center;
  margin-top: 200px;
  background-size: cover;
  opacity: 0.5;
  text-align: center;
  /* border-bottom: 1px solid #aeaeae; */
}
.odin-logo img {
  height: 200px;
  width: 150px;
  max-width: 100%;
  height: auto;
}
.signup-form {
  background-color: azure;
  height: 1200px;
  width: 900px;
  /* margin-left: 100px; */
}

.signup-form-header {
  background-color: rgb(240, 239, 238);
  height: 400px;
  padding-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  padding-left: 20px;
}

.signup {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.signup h2 {
  font-size: 30px;
  padding: 20px 0px 20px 0px;
}

.form-row {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 25px;
}

.form-row input {
  width: 250px;
  height: initial;
}

.front-row label {
  margin-top: 15px;
}
